.buttonList {
  display: flex;
  gap: 20px;
  padding: 0;

}

.btn{
  width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: box-shadow 150ms ease;
  color: white;
}

.good{
  composes: btn;
  background-color: #90EE90;
}

.neutral{
  composes: btn;
  background-color: #ADD8E6;
}

.bad{
  composes: btn;
  background-color: #FFC0CB;
}

.btn:hover, .btn:focus{
  /* border: 2px solid inherit;
  color: blueviolet; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
